.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
/doc/
/Meta/
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
data/augmented_multiple_seasonsGN.rds
src/*.o
src/*.so
src/*.dll
src/*.dylib
src/*.obj
src/*.lib
src/*.a
*.tar.gz
*.Rcheck/
